.game-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* "Frame" around the board, including row and col labels */
.board-frame {
    display: grid;
    width: 75%;
    height: 100%;
    background-color: #C1ABA6;
    grid-template-columns: 0.5fr repeat(var(--board-size), 1fr) 0.5fr;
    grid-template-rows: 0.5fr repeat(var(--board-size), 1fr) 0.5fr;
}

.board {
    grid-column: 2 / -2;
    grid-row: 2 / -2;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-template-rows: repeat(var(--board-size), 1fr);
}

.label-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.board .square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .square .piece {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Colours */

.square {
    border: 1px solid black;
    background-color: #E3D888;
}

.throne {
    background-color: #5A3A31;
}

.corner {
    background-color: #84714F;
}

.selected {
    background-color: #31231E;
}

.movable {
    background-color: #E2F1AF;
}
