.game-name {
    font-weight: bold;
    font-size: 110%;
}

.current-player {
    font-weight: bold;
}

.play-history {
    border-collapse: collapse;
    width: 100%;
    max-width: 400px;
}

.play-history th,
.play-history td {
    border: 1px solid #ccc;
    text-align: center;
}

.play-history th {
    background-color: var(--primary-dark);
    color: var(--cream);
    font-weight: normal;
}

.play-history tbody tr:nth-child(even) {
    background-color: var(--primary-lightest);
}

.play-history tbody tr:nth-child(odd) {
    background-color: var(--primary-light);
}

.play-history tbody tr:hover {
    background-color: var(--light-green);
}

.play-number {
    background-color: #e8e8e8;
    font-weight: bold;
    min-width: 40px;
}