/* Container for the entire game */

.game-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* "Frame" around the board, including row and col labels */
.board-frame {
    display: grid;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    background-color: var(--primary-dark);
    grid-template-columns: 0.5fr repeat(var(--board-size), 1fr) 0.5fr;
    grid-template-rows: 0.5fr repeat(var(--board-size), 1fr) 0.5fr;
}

.board {
    grid-column: 2 / -2;
    grid-row: 2 / -2;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-template-rows: repeat(var(--board-size), 1fr);
}

.label-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: var(--cream);
}

.board > .square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board > .square > .piece {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.square {
    border: 1px solid black;
    background-color: var(--primary-light);
}

.throne {
    background-color: var(--primary-dark);
}

.corner {
    background-color: var(--primary-medium);
}

.selected {
    background-color: var(--green);
}

.movable {
    background-color: var(--light-green);
}

/* Control panel */

.ctrl-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: none;
    margin-top: 20px;
}

.ctrl-btn-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 15px 0;
    justify-content: center;
}

.ctrl-btn {
    flex: 1;
    max-width: 150px;
    padding: 10px;
}

/* Game info (part of control panel) */

.game-name {
    font-weight: bold;
    font-size: 110%;
}

.play-history th {
    font-weight: normal;
}

.current-player {
    font-weight: bold !important;
}

.play-history {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-size: 14px;
    margin-top: 15px;
}

.play-history th:nth-child(1),
.play-history td:nth-child(1) {
    width: 10%;
}

.play-history th:nth-child(2),
.play-history td:nth-child(2) {
    width: 45%;
}

.play-history th:nth-child(3),
.play-history td:nth-child(3) {
    width: 45%;
}

.play-history th,
.play-history td {
    border: 1px solid var(--ivory);
    text-align: center;
    padding: 4px 6px;
    font-size: 12px;
}

.play-history th {
    background-color: var(--primary-dark);
    color: var(--ivory);
    font-weight: normal;
}

.play-history tbody tr:nth-child(even) {
    background-color: var(--primary-lightest);
}

.play-history tbody tr:nth-child(odd) {
    background-color: var(--primary-light);
}

.play-history tbody tr:hover {
    background-color: var(--light-green);
}

.play-number {
    background-color: var(--primary-dark);
    color: var(--ivory);
    font-weight: bold;
}

/* Tablet and desktop styles */
@media (min-width: 769px) {
    .game-container {
        flex-direction: row;
    }

    .board-frame {
        width: 65%;
        height: 100%;
        aspect-ratio: unset;
    }

    .ctrl-panel {
        width: 35%;
        max-width: 35%;
        margin-top: 0;
    }

    .ctrl-btn-container {
        margin: 10px 0;
        justify-content: flex-start;
    }

    .ctrl-btn {
        max-width: none;
        padding: unset;
    }

    .play-history {
        font-size: unset;
        margin-top: 0;
    }

    .play-history th,
    .play-history td {
        padding: unset;
        font-size: unset;
    }
}