.saved-game-info {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    padding: var(--space-md);
    border: 1px solid var(--charcoal);
    background-color: var(--primary-medium);
    height: 80px;
}

.saved-game-name {
    font-weight: bold;
    width: 30%;
    color: var(--ivory);
}

.saved-game-variant {
    color: var(--ivory);
    width: 20%;
}

.saved-game-player-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 30%;
}

.saved-game-info-player {
    padding: var(--space-xs);
    border-radius: 4px;
    font-size: 0.8rem;
    background-color: var(--primary-medium);
    text-align: center;
    color: var(--ivory);
}

.saved-game-info-player.current-player {
    background-color: var(--primary-dark);
    border: 2px solid var(--charcoal);
    font-weight: bold;
}

.saved-game-button-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    width: 30%;
}

.saved-game-load-button, .saved-game-delete-button {
    padding: var(--space-sm);
}
