h1 {
    text-align: center;
}
.mainmenu {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mainmenu-item {
    width: 50%;
    margin: 4px;
    padding: 1rem 2rem;
    font-size: 1.25rem;

}